<div class="page-area">

  <div class="page-header">
    <h1 translate="SYMPTOM.EDIT_HEADING"></h1>
  </div>

  <form class="form-horizontal" name="vm.formEdit" ng-submit="vm.save()">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error': (vm.formEdit.description.$invalid && vm.formEdit.description.$dirty)}">
          <label class="col-sm-2 control-label req" translate="SYMPTOM.DESCRIPTION"></label>
          <div class="col-sm-10">
            <textarea rows="8" class="form-control no-resize" name="description"
                      placeholder="{{'SYMPTOM.DESCRIPTION' | translate}}"
                      ng-model="vm.symptomModel.description" required></textarea>
            <div class="input-errors" ng-show="vm.formEdit.description.$invalid && vm.formEdit.description.$dirty">
              <span ng-show="vm.formEdit.description.$error.required" translate="VALIDATION.REQUIRED"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6">
            <a ui-sref="app.symptom" class="btn btn-default">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span translate="GENERAL.BACK"></span>
            </a>
          </div>

          <div class="col-sm-6 text-right">
            <button type="submit" class="btn btn-success btn-have-left" ng-disabled="vm.formEdit.$invalid">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <span translate="GENERAL.SAVE"></span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>
