<div class="how-to-use-page">
  <div  class="page-header">
    <h1 translate="HOW_TO_USE.FORGOT_PASSWORD" ng-if="vm.module === 'forgotPassword'"></h1>
    <h1 translate="HOW_TO_USE.AREA_MANAGEMENT" ng-if="vm.module === 'area'"></h1>
    <h1 translate="HOW_TO_USE.LINE_MANAGEMENT" ng-if="vm.module === 'line'"></h1>
    <h1 translate="HOW_TO_USE.MACHINE_MANAGEMENT" ng-if="vm.module === 'machine'"></h1>
    <h1 translate="HOW_TO_USE.COMPONENT_MANAGEMENT" ng-if="vm.module === 'component'"></h1>
    <h1 translate="HOW_TO_USE.SYMPTOM_MANAGEMENT" ng-if="vm.module === 'symptom'"></h1>
    <h1 translate="HOW_TO_USE.POTENTIAL_CAUSE_MANAGEMENT" ng-if="vm.module === 'potentialCause'"></h1>
    <h1 translate="HOW_TO_USE.TROUBLESHOOT_MANAGEMENT" ng-if="vm.module === 'troubleshoot'"></h1>
    <h1 translate="HOW_TO_USE.ISSUE_MANAGEMENT" ng-if="vm.module === 'issue'"></h1>
    <h1 translate="HOW_TO_USE.USER_MANAGEMENT" ng-if="vm.module === 'user'"></h1>
    <h1 translate="HOW_TO_USE.TAG_MANAGEMENT" ng-if="vm.module === 'tag'"></h1>
  </div>

</div>