<div class="login_container">
  <h3 class="sepH_c text-center">
    <img src="img/logo-main.png" width="350px"/>
    <img ng-src="img/tbs.png" alt="" style="margin-top: -7%;" />
  </h3>

  <form ng-if="!vm.forgetPasswordSuccess" name="vm.frm" ng-submit="vm.forgotPassword(vm.frm)" novalidate=""
        class="form-horizontal">
    <h2 class="heading_a" translate="FORGOT_PASSWORD.HEADING"></h2>

    <div class="form-group" ng-class="{'has-error': !vm.frm.email.$valid && vm.frm.email.$dirty}">
      <label class="col-sm-3 control-label req" translate="GENERAL.EMAIL"></label>
      <div class="col-sm-9">
        <input auto-focus type="text" class="form-control" placeholder="Email" ng-model="vm.email"
               required
               autocomplete="off"
               name="email" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"/>
         <span class="help-block" ng-show="vm.frm.email.$dirty && vm.frm.email.$error.required" translate="VALIDATION.REQUIRED"></span>
          <span class="help-block" ng-show="vm.frm.email.$dirty && vm.frm.email.$error.pattern" translate="VALIDATION.EMAIL_INVALID"></span>

        <div class="text-muted m-t-xs" translate="FORGOT_PASSWORD.PLEASE_ENTER_EMAIL_CAPTION"></div>
      </div>
    </div>

    <div class="form-group sepH_c">
      <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-success" ng-disabled="vm.frm.$invalid || vm.frm.$submitted">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          <span translate="GENERAL.SEND"></span>
        </button>
      </div>
    </div>
    <div class="footer">
      <b><a ui-sref="page.signin" translate="GENERAL.BACK_TO_LOGIN"></a></b>
    </div>
  </form>

  <div ng-if="vm.forgetPasswordSuccess" class="text-center">
    <h4 class="text-success" translate="FORGOT_PASSWORD.SUCCESS_MESSAGE"></h4>
    <h4>
      <b><a ui-sref="page.signin" class="small" translate="GENERAL.BACK_TO_LOGIN"></a></b>
    </h4>
  </div>
</div>
