.page-user {

	.list-container {
		max-height: 300px;
		overflow-y: auto;
	}
	
	.modal-select-item {
		line-height: 35px;
		border-bottom: 1px solid #e5e5e5;
	}

	.user-label {
		display: inline-block !important;
	}

	@media (max-width: 767px) {
		.custom-list thead tr th:nth-child(3), .custom-list thead tr th:nth-child(4), .custom-list thead tr th:nth-child(5), .custom-list thead tr th:nth-child(7), .custom-list tbody tr td:nth-child(3), .custom-list tbody tr td:nth-child(4), .custom-list tbody tr td:nth-child(5), .custom-list tbody tr td:nth-child(7) {
	      display: none;
	    }
	}

	@media (max-width: 399px) {
		.custom-list thead tr th:nth-child(8), .custom-list tbody tr td:nth-child(8) {
	      display: none;
	    }
	}
}