<div class="page-machine" ng-init="vm.init()">

  <div class="page-header">
    <h1 translate="MACHINE.ADD_HEADING"></h1>
  </div>

  <form class="form-horizontal" name="vm.formAdd" ng-submit="vm.save()">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group" ng-class="{'has-error': (vm.formAdd.machineName.$invalid && vm.formAdd.machineName.$dirty)}">
          <label class="col-sm-2 control-label req" translate="MACHINE.NAME"></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="machineName" ng-model="vm.addModel.name" placeholder="{{'MACHINE.NAME' | translate}}" required>

            <div class="input-errors" ng-show="vm.formAdd.machineName.$invalid && vm.formAdd.machineName.$dirty">
              <span ng-show="vm.formAdd.machineName.$error.required" translate="VALIDATION.REQUIRED"></span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (vm.formAdd.shortName.$invalid && vm.formAdd.shortName.$dirty)}">
          <label class="col-sm-2 control-label req" translate="GENERAL.SHORT_NAME"></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="shortName" ng-model="vm.addModel.shortName" placeholder="{{'GENERAL.SHORT_NAME' | translate}}" required>
            <div class="input-errors" ng-show="vm.formAdd.shortName.$invalid && vm.formAdd.shortName.$dirty">
              <span ng-show="vm.formAdd.shortName.$error.required" translate="VALIDATION.REQUIRED"></span>
            </div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (vm.formAdd.lineId.$invalid && vm.formAdd.lineId.$dirty)}">
          <label class="col-sm-2 control-label req" translate="GENERAL.LINE"></label>
          <div class="col-sm-10">
            <select class="form-control"
                    kendo-drop-down-list
                    name="lineId"
                    k-data-text-field="'name'" k-data-value-field="'id'"
                    k-value-primitive="true"
                    k-data-source="vm.lines"
                    k-filter="'contains'"
                    k-option-label="'- Select Line -'"
                    k-ng-model="vm.addModel.lineId"
                    ng-model="vm.addModel.lineIdtmp"
                    required>
            </select>
            <div class="input-errors" ng-show="vm.formAdd.lineId.$invalid && vm.formAdd.lineId.$dirty">
              <span ng-show="vm.formAdd.lineId.$error.required" translate="VALIDATION.REQUIRED"></span>
            </div>
          </div>
        </div>

      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6">
            <a ui-sref="app.machine" class="btn btn-default">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
              <span translate="GENERAL.BACK"></span>
            </a>
          </div>

          <div class="col-sm-6 text-right">
            <input type="checkbox" icheck name="isAnother" ng-model="vm.addAnother">
            <span translate="GENERAL.ADD_ANOTHER"></span>

            <button type="submit" class="btn btn-success btn-have-left" ng-disabled="vm.formAdd.$invalid">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <span translate="GENERAL.SAVE"></span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>
