<div class="login_container">

  <h3 class="sepH_c text-center">
    <img src="img/logo-main.png" width="350">
  </h3>

  <form name="vm.frm" ng-submit="vm.resetPassword()" novalidate class="form-horizontal" ng-if="!vm.resetSuccessed && vm.validLink">

    <div class="form-group" ng-class="{'has-error': !vm.frm.password.$valid && vm.frm.password.$dirty}">
      <label class="col-sm-3 control-label req" translate="GENERAL.PASSWORD"></label>
      <div class="col-sm-9">
        <input type="password" class="form-control" 
                placeholder="{{'GENERAL.PASSWORD' | translate }}" 
                ng-model="vm.user.password"
                ng-minlength="6"
                name="password" required
                ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$/">

        <div class="minH_A">
          <span class="help-block" ng-show="vm.frm.password.$dirty && vm.frm.password.$error.required" translate="VALIDATION.REQUIRED"></span>
          <span class="help-block" ng-show="vm.frm.password.$dirty && vm.frm.password.$error.pattern" translate="VALIDATION.PATTERN_PASSWORD"></span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !vm.frm.confirmPassword.$valid && vm.frm.confirmPassword.$dirty}">
      <label class="col-sm-3 control-label req" translate="GENERAL.CONFIRM_PASSWORD"></label>
      <div class="col-sm-9">
        <input type="password" class="form-control" 
                placeholder="{{'GENERAL.CONFIRM_PASSWORD' | translate }}" 
                ng-model="vm.user.confirmPassword" 
                ng-match="vm.user.password" 
                name="confirmPassword" required
                ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$/" />

        <div class="minH_A">
          <span class="help-block" ng-show="vm.frm.confirmPassword.$dirty && vm.frm.confirmPassword.$error.required" translate="VALIDATION.REQUIRED"></span>
          <span class="help-block" ng-show="vm.frm.confirmPassword.$dirty && vm.frm.confirmPassword.$error.pattern" translate="VALIDATION.PATTERN_PASSWORD"></span>
          <span class="help-block" ng-show="vm.frm.confirmPassword.$dirty && !vm.frm.confirmPassword.$error.required && vm.frm.confirmPassword.$error.ngMatch" translate="VALIDATION.CONFIRM_PASSWORD"></span>
        </div>
      </div>
    </div>

    <div class="form-group sepH_c">
      <div class="col-sm-9 col-sm-offset-3">
        <button type="submit" class="btn btn-success" ng-disabled="vm.frm.$invalid">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span translate="GENERAL.RESET"></span>
        </button>
      </div>
    </div>

    <div class="footer">
      <b><a ui-sref="page.signin" translate="GENERAL.BACK_TO_LOGIN"></a></b>
    </div>

  </form>

  <div class="text-center">
    <h4 class="text-success" ng-if="vm.resetSuccessed" translate="RESET_PASSWORD.RESET_SUCCESSFUL"></h4>
    <h4 class="text-success" ng-if="!vm.validLink" translate="RESET_PASSWORD.LINK_INVALID"></h4>
    <h4 ng-if="vm.resetSuccessed || !vm.validLink">
      <a ui-sref="page.signin" class="small bold-text" translate="GENERAL.BACK_TO_LOGIN"></a>
    </h4>
  </div>
</div>
