<div class="panel panel-filter">
  <div class="panel-heading" ng-click="vm.isCollapsed = !vm.isCollapsed">
    <div class="row">
      <div class="col-xs-12 text-left">
        <i class="fa fa-filter"></i> <span translate="GENERAL.SEARCH_FILTER"></span>
        <i ng-if="!vm.isCollapsed" class="fa fa-angle-double-up pull-right"></i>
        <i ng-if="vm.isCollapsed" class="fa fa-angle-double-down pull-right"></i>
      </div>
    </div>
  </div>
  <div class="panel-body panel-filter" uib-collapse="vm.isCollapsed">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label translate="GENERAL.AREA"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="areaId"
                  k-data-text-field="'name'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.areas"
                  k-options="{optionLabel: '- Any Area -', filter: 'contains'}"
                  ng-change="vm.getSymptomLines()"
                  ng-model="vm.listModel.areaId">
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label translate="GENERAL.LINE"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="lineId"
                  k-data-text-field="'name'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.lineList"
                  k-options="{optionLabel: '- Any Line -', filter: 'contains'}"
                  ng-change="vm.getSymptomMachines()"
                  ng-model="vm.listModel.lineId">
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label translate="GENERAL.MACHINE"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="machineId"
                  k-data-text-field="'name'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.machineList"
                  k-options="{optionLabel: '- Any Machine -', filter: 'contains'}"
                  ng-change="vm.getSymptomComponents()"
                  ng-model="vm.listModel.machineId">
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label translate="GENERAL.COMPONENT"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="componentId"
                  k-data-text-field="'name'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.componentList"
                  k-options="{optionLabel: '- Any Component -', filter: 'contains'}"
                  ng-model="vm.listModel.componentId"
                  ng-change="vm.search()">
          </select>
        </div>
      </div>
    </div>

    <!-- start: search box -->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label translate="GENERAL.POTENTIAL_CAUSE"></label>
          <input type="text" class="form-control"
                 name="keyword" ng-model="vm.keyword"
                 ng-model-options="{debounce: { 'default': 500} }" ng-change="vm.search()"
                 placeholder="{{'POTENTIAL_CAUSE.ENTER_KEYWORD' | translate}}"/>
        </div>
      </div>
    </div>
    <!-- end: search box -->
  </div>
</div>