<div class="panel panel-filter">
  <div class="panel-heading" ng-click="vm.isCollapsed = !vm.isCollapsed">
    <div class="row">
      <div class="col-sm-12 text-left">
        <i class="fa fa-filter"></i> <span translate="GENERAL.SEARCH_FILTER"></span>
        <i ng-if="!vm.isCollapsed" class="fa fa-angle-double-up pull-right"></i>
        <i ng-if="vm.isCollapsed" class="fa fa-angle-double-down pull-right"></i>
      </div>
    </div>
  </div>
  <div class="panel-body panel-filter" uib-collapse="vm.isCollapsed">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label translate="GENERAL.AREA"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="areaId"
                  k-data-text-field="'name'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.areas"
                  k-options="{optionLabel: '- Any Area -', filter: 'contains'}"
                  k-option-label="'- Any Area -'"
                  k-change="'vm.getLines()'"
                  k-ng-model="vm.listModel.areaId">
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label translate="GENERAL.LINE"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="lineId"
                  k-data-text-field="'name'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.lineList"
                  k-options="{optionLabel: '- Any Line -', filter: 'contains'}"
                  k-ng-model="vm.listModel.lineId"
                  k-change="'vm.getComponentMachines()'">
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label translate="GENERAL.MACHINE"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="machineId"
                  k-data-text-field="'name'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.machineList"
                  k-options="{optionLabel: '- Any Machine -', filter: 'contains'}"
                  k-ng-model="vm.listModel.machineId"
                  k-change="'vm.getSymptom()'">
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label translate="GENERAL.SYMPTOM"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="symptomId"
                  k-data-text-field="'description'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.symptomList"
                  k-options="{optionLabel: '- Any Symptom -', filter: 'contains'}"
                  k-ng-model="vm.listModel.symptomId"
                  k-change="'vm.getPotentialCause()'">
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label translate="GENERAL.POTENTIAL_CAUSE"></label>
          <select class="form-control"
                  kendo-drop-down-list
                  name="potentialCauseId"
                  k-data-text-field="'description'" k-data-value-field="'id'"
                  k-value-primitive="true" k-data-source="vm.potentialCauseList"
                  k-options="{optionLabel: '- Any Potential Cause -', filter: 'contains'}"
                  k-change="'vm.search()'"
                  k-ng-model="vm.listModel.potentialCauseId">
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label translate="TROUBLESHOOT.STATUS"></label>
      <select class="form-control"
              k-placeholder="'- Any Troubleshoot Status -'"
              name="status"
              kendo-multi-select
              k-data-text-field="'name'"
              k-data-value-field="'id'"
              k-value-primitive="true"
              k-auto-bind="false"
              k-data-source="vm.troubleStatusList"
              k-ng-model="vm.listModel.listStatus"
              k-change="'vm.search()'">
      </select>
    </div>

    <!-- start: search box -->
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label translate="TROUBLESHOOT.SEARCH_TITLE"></label>
          <input type="text" class="form-control"
                 name="keyword" ng-model="vm.keyword"
                 ng-model-options="{debounce: { 'default': 500} }" ng-change="vm.search()"
                 placeholder="{{'TROUBLESHOOT.ENTER_KEYWORD' | translate}}"/>
        </div>
      </div>
    </div>
    <!-- end: search box -->
  </div>
</div>